<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../styles/submit-success.css">
</head>
<body>
    <div class="success-container">
        <h1>Submission Successful!</h1>
        <p>Your form has been successfully submitted.</p>
        <a href="/download-pdf/<%= user._id %>">Download as PDF</a>
    </div>
</body>
</html>
